.crypto-image {
  width: 2rem;
}

/* start of rules to force the crypto grid cells to have equal height/width */ 
.crypto-col {
  display: flex;
}
.crypto-card {
  flex-grow: 1;
}
.crypto-item {
  display: flex;
  flex-grow: 1;
}

/* end of rules to force the crypto grid cells to have equal height/width

/* to prevent long titles from breaking the layout */
.crypto-item :global(.ant-card-head-title) {
  white-space: normal;
}

.search-crypto {
  padding: 20px 0;
  text-align: center;
}
.search-crypto__input {
  max-width: 300px;
}
