:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondaty: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --bgDark: #001529;
  --skyBlue: #1890ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .app {
  display: flex;
   overflow: hidden; 
   flex-flow: row wrap; 
} */
.main {
  margin-left: 265px;
  flex: 1;
}
.app {
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* align-items: flex-start; */
  height: 100vh;
  overflow-x: hidden;
  /* flex: 0.8;
  width: 100%; */
}

.content {
  padding: 20px;
  min-height: auto;
}
.routes {
  padding: 20px;
}


@media screen and (max-width: 500px) {
  .app {
    flex-direction: column;
  }

  .main {
    flex: 1;
    margin: 0;
  }
}
@media screen and (max-width: 991px) {
  .main {
    margin: 0;
  }
}

