:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondaty: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --bgDark: #001529;
  --skyBlue: #1890ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  /* overflow: hidden; */
  flex-flow: row wrap;
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}

